@model List<Adow_sOwnBlog.Models.ArticleCategory>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Categories
        </h3>
    </div>
    <ul class="list-group">
        @foreach (Adow_sOwnBlog.Models.ArticleCategory category in Model)
        {
            <li class="list-group-item">@Html.ActionLink(category.name, "showCategory", "Home", new { @category = category.name }, null)</li>
        }
    </ul>

</div>