@model List<Adow_sOwnBlog.Models.Article>
@{
    ViewBag.Title = "Adow's Own Blog";
}

<section class="list-group article">
    @foreach (Adow_sOwnBlog.Models.Article article in Model)
    {
        <article class="list-group-item">
            <h4 class="list-group-item-heading">@Html.ActionLink(@article.title, "mostraNoticia", "Home", new { @title = article.title, @category = article.categories[0] }, null)</h4>
            <aside class="categories">
                @foreach (Adow_sOwnBlog.Models.ArticleCategory category in article.categories)
                {

                    <span class="label label-default">@Html.ActionLink(category.name, "mostraCategoria", "Home", new { @cat = category }, null)</span>
                }
            </aside>            
            <section class="list-group-item-text">
                @Html.Raw(article.content)
            </section>
        </article>
    }
</section>